.table-button button{
    padding: 8px 18px;
    box-shadow: 0 0 6px #005282a2;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    gap: 5px;
}
table thead th{
    background-color: #00528237;
    font-weight: semibold;
    text-transform: uppercase;
    padding: 10px;
}
table{
    width: 100%;
}
table tbody td{
    padding: 10px;
    font-size: 15px;
}
table tbody tr{
    border-bottom: 2px solid #0052825e;
}
.order-modal{
    background-color: rgba(0, 0, 0, 0.523);
}
.print-button button{
    padding: 8px 18px;
    box-shadow: 0 0 6px #005282a2;
    border-radius: 10px;
    position: relative;
}
button{
    cursor: pointer;
}
form button{
    padding: 8px 18px;
    box-shadow: 0 0 6px #005282a2;
    border-radius: 10px;
    gap: 5px;
}

form input{
    width: 300px;
}
.modal{
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from{top: -300px; opacity: 0}
    to{top: 0; opacity: 1}
}