@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/Image 62.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
    background-blend-mode: darken;
} */
#logincontainer{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input:focus{
    outline: 1px solid #005382;
}

.TwoFA_num_inputs::-webkit-outer-spin-button,
.TwoFA_num_inputs::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.TwoFA_num_inputs[type=number] {
    -moz-appearance: textfield;
}
#flip::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 78, 117, 0.482);
    z-index: 1;
}