.item-container{
    box-shadow: 0 0 3px #005382;
}
select{
    border: none;
    box-shadow: 0 0 3px #005382;
    outline: none;
    cursor: pointer;
}
.table-container .button button{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 3px #005382;
    color: black;
}
table thead th{
    background-color: #00528237;
    font-weight: semibold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
}
table{
    width: 100%;
}
table tbody td{
    padding: 10px;
    font-size: 14px;
}
table tbody tr{
    border-bottom: 2px solid #0052825e;
}
table tr{
    text-align: center;
}
.modal-button button{
    padding: 8px 18px;
    box-shadow: 0 0 6px #005282a2;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    gap: 5px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.modal-button button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #005282;
    left: -100%;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s ease;
}
.modal-button button:hover::before{
    left: 0;
}
.modal-button button:hover{
    color: white;
}
label{
    color: rgba(0, 0, 0, 0.619);
}
.addmodal{
    background-color: rgba(0, 0, 0, 0.7);
}
form input{
    outline: none;
    border: 1px solid #005382;
    padding-right: 10px;
}
form input::placeholder{
    color: gray;
    font-size: 15px;
}
.modal{
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}