table thead th{
    background-color: #00528237;
    font-weight: semibold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
}
table{
    width: 100%;
}
table tbody td{
    padding: 10px;
    font-size: 18px;
}
table tbody tr{
    border-bottom: 2px solid #0052825e;
}
table tr{
    text-align: center;
}
.modal{
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}