.modal{
    animation-name: fadein;
    animation-duration: 0.4s
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}