@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #f3f3f3;
}
main{
    padding-bottom: 10px;
}
/* iniba ko pesco yung nav css dahil naapektuhan yung pagination buttons
-- sigrae */
nav#sidebar{ 
    background-color: white;
    height: 100vh;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.277);
}
/* li{
    padding: 0 9px 0 9px;
} */
/* li a, .sidebar a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 8px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 1px;
    z-index: 0;
    transition: duration 0.3s;
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.666);
} */
/* li a::before, .sidebar a::before{
    content: "";
    position : absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #005382;
    border-radius: 10px ;
    z-index: -1;
    transition: all 0.3s ease;
} */
/* li a:hover::before, .sidebar a:hover::before{
    left: 0;
} */
/* li a, #sidebar a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    position: relative;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.697);
    padding: 0 9px 0 9px;
}
li a:hover i, #sidebar a:hover i{
    color: black;
    }
    li a i{
        font-size: 15px;
        }
        .logout{
            background-color: #0052821b;
            padding: 8px;
            color: black !important;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.277);
            position: relative;
            border-left: 3px solid #005382;
            }
            */
li a:hover, #sidebar a:hover{
    background-color: #0052821b;
    color: black !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.277);
    position: relative;
    border-left: 3px solid #005382;
    transition: all 0.3s ease;
}
.active{
    background-color: #0052821b;
    color: black !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.277);
    position: relative;
    border-left: 4px solid #005382;
    font-weight: 600;
} 
header{
    background-color: white;
    box-shadow: 0 1px 3px #00000052;
}
header h1 i{
    color: #005382;
}
header h1{
    letter-spacing: 1px;
}
header .user-container{
    border: 1px solid rgba(0, 0, 0, 0.453);
}
/* header button{
    padding: 10px;
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 0.453);
    cursor: pointer;
    height: fit-content;
} */
input[type='search']{
    border: none;
    box-shadow: 0 0 3px #005382;
    outline: none;
    cursor: text;
}
input[type='search']:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    outline: 2px solid #3b82f6;
    outline-offset: 2px;
    cursor: text;
}

::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #005382;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal{
    animation-name: fadein;
    animation-duration: 0.4s;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes slidetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
table thead th{
    background-color: #00528237;
    font-weight: semibold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
}
table{
    width: 100%;
}
table tbody td{
    padding: 7px;
    font-size: 13px;
}
table tbody tr{
    border-bottom: 1px solid #0052825e;
}
table tr{
    text-align: center;
    text-overflow: ellipsis;
}
table tbody tr:hover{
    background-color: #78787824;
}
/* odd even table data */
/* tr:nth-child(odd)
{
    background-color: #e1e1e1;
} */
.customer-container:hover{
    background-color: #005382;
    color: white;
    transition: all 0.3s;
}
.customer-container:hover p{
    color: white;
}
.customer-container:hover i{
    border: 1px solid white;
}
.clickable-card {
    cursor: pointer;
    display: block; /* O kaya display: flex; depende sa layout */
    width: 100%;
    height: 100%;
}

#successAlert {
    animation: slide-in 0.5s ease-in-out;
}
input[type="search"]:focus{
    outline: none;
    border: none;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.box{
    animation: rotate 2s infinite;
}
.box:nth-child(2){
    animation-delay: 0.25s;
}
.box:nth-child(3){
    animation-delay: 0.50s;
}
@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
}
/* #help{
    animation: bounce 2s infinite;
} */
#help:hover{
    animation: none;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.swal-container{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
.swal-popup {
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 400px;
  padding-bottom: 30px;
}
.swal-title {
  font-weight: bold;
  color: #333333;   
  padding-top: 10px;
}
.swal-content {
  color: #666666;
  font-size: 14px;
  margin-top: -10px;
}
.swal-confirm-button {
  background-color: #4a90e2;
  color: white;
  border-radius: 8px;
  padding: 10px 28px;
  font-weight: normal;
  border: none;
  box-shadow: none;
}
.swal-cancel-button {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 10px 28px;
  font-weight: normal;
  border: 1px solid #343434; 
  box-shadow: none;
}
.swal-confirm-button:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #4a90e2;
}
.swal-cancel-button:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.swal2-actions {
  gap: 5px; 
  margin-top: 20px;
}
.swal-icon {
  background-color: rgba(0, 89, 255, 0.105);
  border: none;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: none;
}
.swal-icon-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.swal2-close {
    font-size: 24px;
    color: #aaaaaa;
}
.swal2-loader{
    border-color: #c42727 rgba(0, 0, 0, 0) #2778c4 rgba(0, 0, 0, 0) !important;
    border-width: 2px !important;
}