@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #eaeaea;
    padding: 20px;
}
/* iniba ko pesco yung nav css dahil naapektuhan yung pagination buttons
-- sigrae */
nav#sidebar{ 
    background-color: white;
    border-radius: 20px;
    height: 96vh;
}
li a, .sidebar a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 0;
    transition: duration 0.3s;
}
li a::before, .sidebar a::before{
    content: "";
    position : absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #005382;
    border-radius: 10px ;
    z-index: -1;
    transition: all 0.3s ease;
}
li a:hover::before, .sidebar a:hover::before{
    left: 0;
}
li a:hover, .sidebar a:hover{
    padding: 10px;
    border-radius: 10px;
    color: white;
}
li a:hover i, .sidebar a:hover i{
    color: white;
}
.logout{
    background-color: #005382;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.active{
    background-color: #005382;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
header{
    background-color: white;
    border-radius: 15px;
}
header h1 i{
    color: #005382;
}
header h1{
    letter-spacing: 1px;
}
header .user-container{
    border: 1px solid rgba(0, 0, 0, 0.453);
}
header button{
    padding: 10px;
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 0.453);
    cursor: pointer;
    height: fit-content;
}
input:focus{
    outline: 2px solid #005382;
}
::-webkit-scrollbar {
    width: 4px; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #005382;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal{
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from{
        top: -300px; 
        opacity: 0;
    }
    to{
        top: 0; 
        opacity: 1;
    }
}
table thead th{
    background-color: #00528237;
    font-weight: semibold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 17px;
}
table{
    width: 100%;
}
table tbody td{
    padding: 10px;
    font-size: 16px;
}
table tbody tr{
    border-bottom: 2px solid #0052825e;
}
table tr{
    text-align: center;
}
table tbody tr:hover{
    background-color: #78787824;
}
.customer-container:hover{
    background-color: #005382;
    color: white;
    transition: all 0.3s;
}
.customer-container:hover p{
    color: white;
}
.customer-container:hover i{
    border: 1px solid white;
}
.clickable-card {
    cursor: pointer;
    display: block; /* O kaya display: flex; depende sa layout */
    width: 100%;
    height: 100%;
}