@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body{
    height: 100vh;
    background-color: #eaeaea;
}
header{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
nav{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
/* ul a,a{
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 0;
    color: #555;
}
ul a i, a i{
    color: #555;
}
ul a::before, a::before{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #005382;
    z-index: -1;
    transition: all 0.3s ease;
}
ul a:hover::before, a:hover::before{
    left: 0;
}
ul a:hover, a:hover{
    color: white;
}
ul a:hover i, a:hover i{
    color: white;
}
.active{
    background-color: #005382;
    color: white;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.266);
}
.active i{
    color: white;
} */
/* li a,a{
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 0;
}
li a i, a i{
    color: #005382;
}
li a::before, a::before{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #005382;
    z-index: -1;
    transition: all 0.3s ease;
}
li a:hover::before, a:hover::before{
    left: 0;
}
li a:hover, a:hover{
    color: white;
}
li a:hover i, a:hover i{
    color: white;
}
li a .active{
    background-color: #005382;
    color: white;
} */
 li a:hover, #sidebar a:hover{
    background-color: #0052821b;
    color: black !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.277);
    position: relative;
    border-left: 3px solid #005382;
    transition: all 0.3s ease;
}
.active{
    background-color: #0052821b;
    color: black !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.277);
    position: relative;
    border-left: 4px solid #005382;
    font-weight: 600;
} 
::-webkit-scrollbar {
    width: 4px; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #005382;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
button{
    cursor: pointer;
}
.modal{
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from{
        top: -300px; 
        opacity: 0;
    }
    to{
        top: 0; 
        opacity: 1;
    }
}
.customer-container:hover{
    background-color: #005382;
    color: white;
    transition: all 0.3s;
}
.customer-container:hover p{
    color: white;
}
.customer-container:hover i{
    border: 1px solid white;
}

#successAlert {
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.box{
    animation: rotate 2s infinite;
}
.box:nth-child(2){
    animation-delay: 0.25s;
}
.box:nth-child(3){
    animation-delay: 0.50s;
}
@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
}